<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<form [formGroup]="radioGroupForm">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="1"> Left (pre-checked)
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="middle"> Middle
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" [value]="false"> Right
    </label>
  </div>
</form>
<hr>
<pre>{{radioGroupForm.value['model']}}</pre>

<jqxBarGauge 
    [width]="600" [height]="600" [max]="150" 
    [colorScheme]="'scheme02'" [values]="values">
</jqxBarGauge>

<jqxGrid 
    [width]="850" [source]="dataAdapter" [columns]="columns" (onCellbeginedit)="onCellBeginEdit($event)" (onCellendedit)="onCellEndEdit($event)"
    [columnsresize]="true" [sortable]="true" [editable]="true" [pageable]="true" (onPagechanged)="onPageChanged($event)" (onPagesizechanged)="onPageSizeChanged($event)">
</jqxGrid>

<jqxGrid 
[theme]="'material'" [width]="'100%'" [source]="dataAdapter" [columns]="columns"
    [columnsresize]="true" [sortable]="true">
</jqxGrid>



<!-- <ul *ngIf="(temData$ | async).length">
  <li *ngFor="let todo of temData$ | async">{{todo.name}}</li>
</ul>  -->
  <app-test #name><p *ngFor="let i of [0,1]">yes content projected {{i}}</p></app-test>

  <router-outlet></router-outlet>

  
